<ion-view name="signup-view">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>

    <div class="padding">
      <button id="signup" class="button button-block button-calm" ng-click="signUp(email, password)">Sign Up</button>
    </div>
  </ion-content>
</ion-view>
