<ion-view view-title="Travel Plan">
  <ion-content class="scroll-content ionic-scroll has-header has-tabs">
    <div id="travelPlan" class="scroll" style="transform: translate3d(0px, 34px, 0px) scale(1);">
      <div id="fromStation" class="item item-text-wrap">
        Where will you start?
      </div>
      <div class="item item-body">
        <button class="button button-positive button-block"
                modal-select=""
                ng-model="trip.fromStation"
                options="stationNames"
                has-search="true">
          Departure station
          <div class="option">
            <h2>{{option.Station | capitalize: true}}</h2>
            <p>{{option.ISC_Code}}</p>
          </div>
        </button>
        <div>
          fromStation: {{trip.fromStation}}
        </div>
      </div>
      <div id="toStation" class="item item-text-wrap">
        Where are you going?
      </div>
      <div class="item item-body">
        <button class="button button-positive button-block"
                modal-select=""
                ng-model="trip.toStation"
                options="stationNames"
                has-search="true">
                  Arrival station
                <div class="option">
                  <h2>{{option.Station | capitalize: true}}</h2>
                  <p>{{option.ISC_Code}}</p>
                </div>
        </button>
        <div>
          toStation: {{trip.toStation}}
        </div>
      </div>
      <div class="item item-body padding-vertical">
        What time do you need to be there?
        <div class="option">
          <button class="button button-block button-positive overflowShow"
                  ion-datetime-picker
                  ng-model="trip.time">
                    Set arrival time

          </button>
          <div>
            arrivalTime: {{time}}
          </div>
        </div>
      </div>
      <div class="item item-body padding-vertical">
        <div class="option">
          <button class="button button-block button-positive overflowShow"
                  ng-click="TravelPlanCtrl.getTime(trip)">
                    Get trip
          </button>
          <div>
            tripPlan: {{trip}}
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="scroll-bar scroll-bar-v">
      <div class="scroll-bar-indicator" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px; transform-origin: center top 0px;"></div>
    </div>
  </ion-content>
</ion-view>
