<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class='list card' id='alarm'>
      <div class="item item-divider"> Current Alarm </div>
      <div class="item item-body"> 06:00 </div>
    </div>
    <div class='list card' id='weather'>
      <div class="item item-divider"> Current Weather </div>
      <div class="item item-body"> Sunny☀︎ </div>
    </div>
    <div class='list card' id='destination'>
      <div class="item item-divider"> Destination </div>
      <div class="item item-body">
        <p>Home to Makers</p>
        <p>Travel Time: 30 minutes</p>
      </div>
    </div>
  </ion-content>
</ion-view>
