<ion-view view-title="Travel Plan">
  <ion-content class="scroll-content ionic-scroll has-header has-tabs">
    <div id="travelPlan" class="scroll" style="transform: translate3d(0px, 34px, 0px) scale(1);">
      <div id="fromStation" class=" item-text-wrap">
        <div class="item">
          <button class="button button-positive button-block"
                modal-select=""
                ng-model="trip.fromStation"
                options="stationNames"
                has-search="true">
                Where will you start?
                <div class="option">
                  <h2>{{option.Station | capitalize: true}}</h2>
                  <p>{{option.ISC_Code}}</p>
                </div>
          </button>
          <div class="text-center">
            {{trip.fromStation.Station | capitalize: true}}
          </div>
        </div>
      </div>
      <div id="toStation" class="item-text-wrap">
        <div class="item">
          <button class="button button-positive button-block"
                  modal-select=""
                  ng-model="trip.toStation"
                  options="stationNames"
                  has-search="true">
                    Where are you going?
                  <div class="option">
                    <h2>{{option.Station | capitalize: true}}</h2>
                    <p>{{option.ISC_Code}}</p>
                  </div>
          </button>
          <div class="text-center">
            {{trip.toStation.Station | capitalize: true}}
          </div>
        </div>
      </div>
      <div class="item item-body padding-vertical">
        <div class="option">
          <button class="button button-block button-positive overflowShow"
                  ion-datetime-picker time
                  ng-model="trip.time">
                    What time do you need to be there?
          </button>
          <div class="text-center">
            {{trip.time}}
          </div>
        </div>
      </div>
      <div class="item item-body padding-vertical">
        <div class="option">
          <button class="button button-block button-energized overflowShow"
                  ng-click="getTime(trip)">
                    Get trip
                    <div class="text-center">
                      {{trip}}
                    </div>
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="scroll-bar scroll-bar-v">
      <div class="scroll-bar-indicator" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px; transform-origin: center top 0px;"></div>
    </div>
  </ion-content>
</ion-view>
