<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-list>
      <ion-item id="destTime" class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/destTime">
        <h2> Current Trip Alarm </h2>
        <p> 06:00 </p>
        <p>From STATION to STATION</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item id="weather" class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/weather">
        <h2> Current Weather </h2>
        <p> Sunny☀︎ </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
