<ion-view view-title="Weather">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="">

        <h2 id='weatherTitle'>Current Weather</h2>

        <ul id='currentWeather' ng-controller='WeatherCtrl as controller'>
         <li>London:</li>
         <li id='weatherDesc'>{{ description }}</li>
         <li id='weatherTemp'>{{ temperature }}&#8451;</li>
       </ul>

      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content ng-controller="ExampleController">
      <button class="button" ng-click="add()">Add notification</button>
      <button class="button" ng-click="isScheduled()">Is Scheduled</button>
  </ion-content>
</ion-view>
